<mat-card class="cardProfile">

    <mat-card-content fxLayout="column"
                      fxLayoutAlign="center center">
             <div>
                <img mat-card-avatar
                     src="/assets/img/image 1.png"
                     class="example-header-image">
             </div>

             <div fxLayout="column"
                  fxLayoutAlign="center center">
                 <div>
                     <span>
                        Jeff Brown
                     </span>
                 </div>
                 <div>
                     <span>
                        jeff.brown@example.com
                     </span>
                 </div>
             </div>
    </mat-card-content>




</mat-card>