<mat-card class="cardCreateLink">




    <mat-card-content>

        <div>

            <div>

                <mat-hint>Url To Save</mat-hint>
                <mat-form-field class="fullWidth"
                                appearance="fill">
                    <input matInput
                           type="text">
                </mat-form-field>


                <mat-hint> Name of Url</mat-hint>
                <mat-form-field class="fullWidth"
                                appearance="fill">
                    <input matInput
                           type="text">
                </mat-form-field>

            </div>
            <div>


                <div fxLayoutAlign="end">
                    <button class="actionSaveUrl" 
                            mat-raised-button
                            routerLink="/dashboard">ADD</button>
                </div>


            </div>



        </div>



    </mat-card-content>




</mat-card>