<mat-card class="cardListLink">
    <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
        <div class="titleUrl">
            www.url.com
        </div>
        <div>
            <button mat-icon-button
                    color="warn"
                    aria-label="button to delete url">
                <mat-icon>delete</mat-icon>
              </button>
        </div>
    </mat-card-title>
    <mat-card-content >
        <div>
            <p>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint .
            </p>
        </div>
    </mat-card-content>
</mat-card>