<mat-card class="cardListLink">
    <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
        <div class="titleUrl">
            {{dataLink?.url}}
        </div>
        <div>
            <button mat-icon-button
                    color="warn"
                    (click)="delete(dataLink?.id)"
                    aria-label="button to delete url">
                <mat-icon>delete</mat-icon>
              </button>
        </div>
    </mat-card-title>
    <mat-card-content >
        <div>
            <p>
                {{dataLink?.name}}
            </p>
        </div>
    </mat-card-content>
</mat-card>