<div fxLayout="column">

    <div fxLayout="row"
         fxLayoutAlign="space-between start">
        
        <div>
            <logo></logo>
        </div>
        <div>
            <button routerLink="/login"
                    class="buttonSession"
                    mat-stroked-button>
                LOGOUT
            </button>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-around">
        <div fxFlex="20%">
            <profile></profile>
        </div>
        <div fxLayout="column">
            <div>
                <create-url></create-url>
            </div>
            <div>
                <list-url></list-url>
            </div>
        </div>
    </div>

</div>