<div fxLayout="column">

    <div fxLayout="row"
         fxLayoutAlign="space-between start">
        
        <div>
            <logo></logo>
        </div>
        <div>
            <button routerLink="/login"
                    (click)="logout()"
                    class="buttonSession"
                    mat-stroked-button>
                LOGOUT
            </button>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-around">
        <div fxFlex="40%" 
             class="containerProfile">
            <profile></profile>
        </div>
        <div fxLayout="column">
            <div>
                <create-url (addLink)="addLink($event)"></create-url>
            </div>
            <div *ngFor="let dataLink of arrData">
                <list-url [dataLink]="dataLink"
                          (deleteLink)="deleteLink($event)"></list-url>
            </div>
        </div>
    </div>

</div>